
{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 style="color:gray;">This is a free app created by me... Arshad Ali</h2>
  <h2><i>Who am I?</i></h2>
  <h3><b>A simple and friendly in-process web developer :) </b></h3>
