{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Webmarks
  </h1>
  <p>
    A small app to help you to keep your favorite bookmarks
  </p>
</section>